*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(235, 114, 114, 0.425);
}
.contanier {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    padding: 10px;
     height: 60px;
    display: flex;

}

.main img{
   height: 70px;
   margin:-15px;
   margin-right: 180px;
}

.title {
    font-size: 18px;
    color: white;
    display: flex;
    list-style: none;
    gap: 80px;
    padding: 10px;    
}
.link{
    color: white ;
}

main{
    width: 100%;
    height: 100vh;
     background-size: cover;
     position: relative; 
    background-image: url(./Asset/immg-3.png);
}

.lines h1{
margin-bottom: 10px;
}

.section1 {
    position: absolute;
    color: white;
    top: 35%;
    left: 5%; 
}

.cs {
    border-radius: 10px;
    width: 80px;
    border: none;
}

.section2 {
text-align: center;
}

.container {
    width: 900px;
    text-align: center;
}

.categories {
    display: flex;
    justify-content: space-between;
    margin: 30px 10PX;
}

/* .card {
    background: rgba(235, 114, 114, 0.425);
    padding: 20px;
    height: 200px;  
   border-radius: 20px;
    width: 28%;
     box-shadow: 0 5px 10px rgba(0,0,0,0.2); 
} */


.categories{
    display: flex;
    flex-direction: row;
    gap: 15x;
}

.card{
    position: relative;
    margin:10px;
    padding: 30px;
    
}


.card img {
     width: 100%;
     height: 250px;
    border-radius: 20px; 
    
}

.card p{
    position:absolute;
     top: 50%;
    left: 50%; 
    color: white;
    transform: translate(-50%,-50%); 
    z-index: 5;
}
.card h6{
    position:absolute;
     top: 80%;
    left: 43%; 
    color: white;
    /* transform: translate-3%);  */
}
.section3{
    text-align: center;
}

.categories2{
    display: flex;
    padding: 50px;
    justify-content: space-between;
}
 .card2 {
    background: rgba(235, 114, 114, 0.425);
    padding:30px;
    height: 300px;  
   border-radius: 20px;
    width: 300px;
     box-shadow: 0 5px 10px rgba(0,0,0,0.2); 
} 

.card2 img{
    height: 200px;
} 

.row{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.bn{
    color:white ;
    border: none;
    padding: 5px;
    background-color: brown;
    border-radius: 10px;
}

.card3{
    background: rgba(235, 114, 114, 0.425);
    padding:30px;
    height: 450px;  
   border-radius: 20px;
    width: 350px;
     box-shadow: 0 5px 10px #6F4E37; 
} 

.card3 img{
    height: 250px;
}

footer{
    background-color:#6F4E37;
    color: white;
}

.ftr1{
    display: flex;
    gap: 60px;
    margin-left: 150px;
}

.ftr{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding: 40px 0px;
    margin: 50px;
}

.ftr li{
    list-style: none;
}

.ftr2{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    justify-content: center;
}

.box{
    background-color: rgb(0, 0, 0);
    display: flex;
    gap: 30px;
    width: 600px;
}

@media (max-width: 480px) {

    .title {
        flex-direction: column;
        gap: 10px;
        font-size: 14px;
        text-align: center;
    }

    .main img {
        height: 50px;
        margin: 0;
    }

    .section1 {
        left: 5%;
        top: 25%;
    }


    h1, h2, p {
        text-align: center;
    }

    .categories, .categories2 {
        flex-direction: column;
        gap: 20px;
    }

    .card{
        width: 700px;
        align-items: center;
        justify-content: center;
    }

    .card2{
        height: 350px;
    }

    .card,  .card3 { 
        padding: 15px;
    }

    .card img {
        height: 200px;
        align-items: center;
        justify-content: center;
    }
    .bn{
        padding: 10px;
        top: 10px;
    }

    .card3 img {
        height: 180px;
    }

    .categories2{
        width: 530px;
    }

    footer {
        display: none;
    }

}

@media (max-width: 768px) {

    nav .contanier {
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 10px;
    }

    .title {
        gap: 25px;
        font-size: 15px;
    }

    .categories, .categories2 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .card3{
        height: 500px;
    }

    .card, .card2, .card3 {
        width: 90%;
    }

    .section1 {
        top: 30%;
        left: 10%;
    }

    main {
        height: 70vh;
        background-position: center;
    }

    .ftr1 {
        flex-direction: column;
        gap: 0px;
        margin-left: 0;
        align-items: center;
    }
}

/* @media (min-width: 769px) {
    .categories {
        flex-direction: row;
        justify-content: space-between;
    }
} */

@media (max-width: 1024px) {

    .categories, .categories2 {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card, .card2, .card3 {
        width: 40%;
    }

    .title {
        gap: 40px;
        font-size: 16px;
    }

    .main img {
        margin-right: 50px;
    }
}

